html, body{height:100%}

a{text-decoration:none;}
a:visited{color:#000}

header{display:flex;height:59px;border-bottom:1px solid #CCC}
header h1{width:200px;padding:18px 0;font-size:24px;font-weight:bold;text-align:center;}
header nav{padding:18px 0;}

main, section{height:calc(100% - 100px);}

footer{padding:11px 12px 12px 12px;border-top:1px solid #CCC;}

.text-center{text-align:center;}

.tbl_header{display:flex;border-top:1px solid #CCC;border-bottom:1px solid #CCC;}
.tbl_data{display:flex;border-bottom:1px solid #CCC;}
.tbl_cell_no{width:80px;padding:8px 0;text-align:center;}
.tbl_cell_title{width:calc(100% - 230px);padding:8px 0;text-align:center;}
.tbl_cell_reg_date{width:150px;padding:8px 0;text-align:center;}

/* board list */
.wrap_board{padding-top:24px;}
.wrap_board_register{width:800px;margin:0 auto;text-align:right}
.wrap_board_table{width:800px;margin:10px auto 0 auto;}

/* board register/modify/detail */
.tbl_board_register{width:100%;border-collapse:collapse}
.tbl_board_register th{padding:6px;border:1px solid #CCC;border-left:none;vertical-align:middle}
.tbl_board_register td{padding:6px;border:1px solid #CCC;border-right:none;vertical-align:middle}
.tbl_board_register #title{width:100%;padding:6px;border:none}
.tbl_board_register #contents{width:100%;height:200px;border:none;resize:none}


.wrap_btn_menu{margin-top:24px;}
.wrap_btn_menu button{width:80px;padding:6px 8px;border:1px solid #CCC;font-size:16px;background-color:#FFF;cursor:pointer;}

/* board modify */
.tbl_board_modify{width:100%;border-collapse:collapse}
.tbl_board_modify th{padding:6px;border:1px solid #CCC;border-left:none;vertical-align:middle}
.tbl_board_modify td{padding:6px;border:1px solid #CCC;border-right:none;vertical-align:middle}
.tbl_board_modify #title{width:100%;padding:6px;border:none}
.tbl_board_modify #contents{width:100%;height:200px;border:none;resize:none}

/* board detail */
.tbl_board_detail{width:100%;border-collapse:collapse}
.tbl_board_detail th{padding:6px;border:1px solid #CCC;border-left:none;vertical-align:middle}
.tbl_board_detail td{padding:6px;border:1px solid #CCC;border-right:none;vertical-align:middle}